<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left dark-navs">
            <a href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right dark-navs">
            <a href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                <strong>Widget Edit</strong>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-sm-12 profile-block">
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text"
                   placeholder="Widget Name"
                   class="form-control"
                   id="widget-name"/>
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input type="text"
                   value="US Senate Reaches Compromise on Emergency Zika Funding"
                   class="form-control"
                   id="widget-text"/>
        </div>
        <div class="form-group">
            <label for="widget-size">Size</label>
            <input type="text"
                   value="3"
                   class="form-control"
                   id="widget-size"/>
        </div>
        <a href="widget-list.view.client.html" class="btn btn-danger btn-block">
            Delete
        </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../assignment/user_pages/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>