<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form>
        <div class="col-sm-12 profile-block">
            <div class="form-group">
                <label for="widget-name">Name</label>
                <input ng-model="model.widget.name"
                       type="text"
                       placeholder="Widget Name"
                       class="form-control"
                       id="widget-name"/>
            </div>
            <div class="form-group">
                <label for="widget-text">HTML Text</label>
                <div id="widget-text"
                     ng-model="model.widget.text"
                     text-angular
                     ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
                     ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                     ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                     ['indent', 'outdent'],['html']]">
                </div>
            </div>
            <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">
                Delete
            </a>
        </div>
    </form>
</div>